MODEL_PKL_PATH=

SECRET_KEY=your-secret-key-here-replace-with-random-string
SESSION_COOKIE_SAMESITE=Lax
SESSION_COOKIE_SECURE=True
FLASK_ENV=production

# now we are using upstash for redis

REDIS_URL=redis://username:password@host:port/db

UPLOAD_FOLDER=uploads